# IDE stuff
.vscode
.DS_Store

# From Python 2.7
*.pyc
__pycache__
.cache
.pytest_cache

# For PyPI distribution
/aide_document.egg-info
/dist
/build

# For jekyll website
jekyll/_site
jekyll/.jekyll-metadata