{% macro render() %}{% include "example.yaml.j2"%}{% endmacro %}

- floc_tank:
  - hp:
    - q : {{ q_plant }}
    - temp : {{ temp }}
    - gt : {% set Gt = 37,000 %}{{ Gt }} # collision potential... a constant
    - hl : {% set hl = 40 * u.cm %} {{ hl }} #headloss
    #- volume : {% vol_floc(q, hl, gt, temp) %}{{ volume }}
    - hs_min : {% set hs_min = 3 %}{{ hs_min }} # min h/s ratio
    - hs_max : {% set hs_max = 6 %}{{ hs_max }} # max h/s ratio
    - min_floc_width : {% set min_floc_width = 45 * u.cm%}{{ min_floc_width }} # for construction purposes, needs to be larger than a human hip
    - pi_vc : {% set pi_vc = "pc.RATIO_VC_ORIFICE" %}{{pi_vc}} # defined in physchem as 0.62
  - dp:
    - L : {% set L = "TODO" %} {{ L }}
- baffles:
  - hp: